{
  "redis": null,
  "port": 1337,
  "version": null,
  "prometheus_exporter": null,
  "token": {
    "secret": "json web token secret",
    "duration": 3600
  },
  "mongodb": "mongodb://localhost/e-chauffeur",
  "user_website_url": "",
  "twilio": {
    "sid": "",
    "token": "",
    "messaging_service_sid": ""
  },
  "mail": {
    "transporter": {
      "host": "",
      "port": 1025,
      "secure": false,
      "auth": {
        "user": "",
        "pass": ""
      }
    },
    "default_from": "\"name\" <name@localhost>",
    "feedback_mail": "feedback@mail.com",
    "contact_mail": "contact@mail.com",
    "text": " :message",
    "html": "<p>:message</p>",
    "subject": "E-chauffeur : :firstname :lastname (:email)"
  },
  "whitelist_domains": ["def.gouv.fr"],
  "default_timezone": "Europe/Paris",
  "vapid": {
    "public_key": "",
    "private_key": ""
  },
    "rate_limit": {
      "attempt_number": 5,
      "lock_duration": 3600000
    }
}
